body {
    background-color: rgb(141, 12, 38);
}
.container {
    border: 1px dashed indigo;
    width: 150vh;
    position: static;
}
.navbar {
    background-color: green;
}
.button {
    margin-left: auto;
    margin-right: auto;
}
div {
    width: 150vh;
}